.counter {
    display: flex;
    align-items: center;
    border: #f2f2f2 solid 1px;
    width: 150px;
    height: 40px;
}

.counter .left,
.counter .right {
    /* width: 40px !important; */
    width: 30%;
    text-align: center;
    font-weight: bold;
    border: solid 1px #fcdd06;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.counter .left:hover {
    background-color: #fcdd06;
}

.counter .right:hover {
    background-color: #fcdd06;
}

.counter .center {
    width: 40%;
    text-align: center;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}